<section class="header-aug">
    <nav>
        <a href="/"><img src="/images/logo250.png" width="50%"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-circle-xmark" onclick="hideMenu()"></i>
            <ul>
                <!--<li><a href="/register">Register/Login</a></li>-->
                <li><a href="/augmentation">Augmentation</a></li>
                <li><a href="/Imagelabeling">Image labeling</a></li>
                <li><a href="/Imageprocessing">Image processing</a></li>
                <li><a href="/Visualization">Auto Visualization</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>
    <script src="https://kit.fontawesome.com/95d15fe219.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    
</section>